/* reset */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, a, fieldset, input, textarea, p, blockquote, th, td, button {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal
}

a {
  text-decoration: none;
}

img {
  display: block;
  border: 0
}

li {
  list-style: none
}

input, label, select, option, textarea, button, fieldset, legend {
  border: none;
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  color: #000;
  background: #fff;
  font-size: 9pt;
}

/* 公共样式 */

.clear {
  clear: both;
}

.common-page {
  width: 100%;
}

/* .common-title {
  height: 22px;
  width: 100%;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 10px;
} */

.common-content {
  width: 100%;
  padding: 10px;
}

/* 概要分析 */

.big-title {
  height: 22px;
  width: 100%;
  line-height: 22px;
  font-size: 14pt;
  color: #333333;
  text-align: center;
  margin-bottom: 10px;
}

.desc-title {
  height: 20px;
  width: 100%;
  line-height: 20px;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

.desc-class {
  margin: 0px 14px 0px 8px;
}

.grade-box {
  width: 94%;
  height: 70px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
  padding-left: 0;
  margin-bottom: 20px;
}

.grade-box-left {
  height: 70px;
  width: 120px;
  border-right: 1px solid #999;
  text-align: center;
  float: left;
}

.grade-box-left-title {
  height: 16px;
  line-height: 16px;
  color: #333333;
  margin-top: 4px;
}

.grade-box-left-score {
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  color: #333333;
  margin-top: 10px;
}

.grade-box-left-grade {
  height: 36px;
  line-height: 26px;
  width: 34px;
  font-size: 7pt;
  background: url(http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/share/image/xsl/flower.png) no-repeat;
  background-size: 100% 100%;
  margin: 6px auto 0;
}

.grade-box-right {
  height: 60px;
  margin-left: 30px;
  float: left;
}

.grade-box-right-top {
  margin-top: 16px;
  height: 14px;
  line-height: 14px;
  font-size: 8pt;
  color: #333333;
  margin-bottom: 10px;
}

.grade-box-right-top span {
  margin-right: 10px;
}

.grade-box-right-top span:last-child {
  margin-right: 0;
}

.grade-box-right-bottom {
  height: 22px;
  line-height: 22px;
  color: #333333;
}

.twins-box {
  margin-bottom: 20px;
}

.twins-title {
  height: 16px;
  line-height: 16px;
  width: 100%;
  font-size: 14px;
  color: #333333;
}

.twins-round {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #3e3a39;
  position: relative;
  margin-top: 1px;
  margin-right: 3px;
  float: left;
}

.twins-round::before {
  display: inline-block;
  height: 12px;
  width: 12px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  top: 2px;
  left: 2px;
}

.twins-round::after {
  display: inline-block;
  height: 6px;
  width: 6px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #3e3a39;
  top: 5px;
  left: 5px;
}

.twins-name {
  width: 60%;
  float: left;
}

.twins-content {
  margin: 10px 0;
  width: 100%;
}

.charts-img {
  margin-left: 10px;
  margin-bottom: 10px;
}

.charts-desc p {
  font-size: 7pt;
  color: #151515;
  letter-spacing: -0.65px;
  line-height: 18px;
  margin-left: 30px;
}

.table-box table {
  width: 96%;
  border-collapse: collapse;
  min-height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 8pt;
}

.table-box thead {
  background: #cccccc;
  color: #333333;
  line-height: 14px;
}

/* .table-box table,
.table-box table tr th,
.table-box table tr td {
  border: 1px solid rgb(151, 151, 151);
} */

.table-box table th:first-child,
.table-box table td:first-child,
.table-box table th:last-child,
.table-box table td:last-child {
  text-align: left;
  padding-left: 15px;
}

.star-box {
  display: inline-block;
  /* height: auto;
  width: auto;
  margin: auto; */
  /* vertical-align: middle; */
}

.star {
  height: 8px;
  width: 8px;
  float: left;
  /* margin-top: 8px; */
}

.solid-star {
  background: url(http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/share/image/xsl/Star1.png) no-repeat center;
  background-size: 100% 100%;
}

.empty-star {
  background: url(http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/share/image/xsl/Star2.png) no-repeat center;
  background-size: 100% 100%;
}

.dashed-box {
  height: 100%;
  width: 100%;
  padding: 0px 2.5px
}

.dashed {
  display: inline-block;
  font-size: 8pt;
  /* height: 14px; */
  /* width: auto; */
  line-height: 14px;
  border: 0.5px dashed #B8B8B8;
  border-radius: 2px;
  padding: 1px;
  margin: 2.5px;
}

/* 错题整理 */

.error-title {
  background: url(http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/share/image/xsl/errorTitle.png) no-repeat center;
  background-size: 100% 100%;
}

/* 错题整理、提分训练、答案公共样式 */

.question-box {
  margin-bottom: 10px;
}

.error-title,
.exercise-title,
.again-title,
.exercise-answer-title,
.again-answer-title {
  height: 26px;
  width: 86px;
  margin-bottom: 10px;
}

.question-answer,
.question-points,
.question-explain,
.question-rethink {
  width: 100%;
}

.question-text {
  width: 100%;
}

.question-test-index {
  width: 12px;
  float: left;
}

.question-text-content {
  color: #333333;
  margin-left: 12px;
  margin-bottom: 10px;
}

.question-title {
  color: #333333;
  width: 80px;
  float: left;
  line-height: 20px;
}

.question-title span {
  letter-spacing: 2.8px;
}

.question-word {
  margin-left: 80px;
  width: 100%;
  line-height: 20px;
}

.question-word img {
  /* display: inline-block; */
  max-width: 280px;
}

/* 返回题型中的填空类名样式 */

.quizPutTag {
  display: inline-block;
  width: 20px;
  border-bottom: 1px solid #000;
}

/* 提分训练 */

.exercise-title {
  background: url(http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/share/image/xsl/exerciseTitle.png) no-repeat center;
  background-size: 100% 100%;
}

.lost-title {
  font-size: 12pt;
  font-weight: 500;
  color: #333333;
  text-align: center;
  margin: 10px 0px;
}

.again-title {
  margin-top: 20px;
  background: url(http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/share/image/xsl/againTitle.png) no-repeat center;
  background-size: 100% 100%;
}

/* 答案 */

.exercise-answer-title {
  background: url(http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/share/image/xsl/exerciseAnswer.png) no-repeat center;
  background-size: 100% 100%;
}

.again-answer-title {
  margin-top: 20px;
  background: url(http://xuexin-file.oss-cn-hangzhou.aliyuncs.com/share/image/xsl/againAnswer.png) no-repeat center;
  background-size: 100% 100%;
}

/* JINGYOU CSS BEGIN **/

.answer-card-question p {
  padding: 0px;
  margin: 0px;
}

.answer-card-question img {
  border-style: none;
  border-width: 0;
  vertical-align: middle;
}

sup {
  top: -0.5em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

div.quizPutTag {
  display: inline-block;
  padding: 3px 10px 1px 10px;
  margin: 0 3px;
  font-size: 14px;
  min-width: 1em;
  min-height: 16px;
  line-height: 18px;
  height: auto;
  border-bottom: 1px solid #0033FF;
  text-decoration: none;
  zoom: 1;
  background: #fff;
  color: #127176;
  word-break: break-all;
}

div.quizPutTag:hover {
  color: #f60;
}

table.edittable {
  border-collapse: collapse;
  text-align: center;
  margin: 2px;
}

table.edittable th,
table.edittable td {
  line-height: 30px;
  padding: 5px;
  white-space: normal;
  word-break: break-all;
  border: 1px solid #000;
  vertical-align: middle;
}

table.composition {
  border-collapse: collapse;
  text-align: left;
  margin: 2px;
  width: 98%;
}

table.composition th,
table.composition td {
  line-height: 30px;
  white-space: normal;
  word-break: break-all;
  border-width: 0px;
  vertical-align: middle;
}

table.composition2 {
  border-collapse: collapse;
  width: auto
}

table.composition2 th,
table.composition2 td {
  text-align: left;
  line-height: 30px;
  white-space: normal;
  word-break: break-all;
  border: none;
  border-width: 0px;
  vertical-align: middle;
}

.MathJye {
  border: 0 none;
  direction: ltr;
  line-height: normal;
  display: inline-block;
  float: none;
  font-family: 'Times New Roman', '宋体';
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  white-space: nowrap;
  word-spacing: normal;
  word-wrap: normal;
  -webkit-text-size-adjust: none;
}

.MathJye div,
.MathJye span {
  border: 0 none;
  margin: 0;
  padding: 0;
  line-height: normal;
  text-align: left;
  height: auto;
  _height: auto;
  white-space: normal;
}

.MathJye table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  font-size: inherit;
  *font-size: 100%;
  _font-size: 100%;
  font-style: normal;
  font-weight: normal;
  border: 0;
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 0;
}

.MathJye table td {
  padding: 0;
  font-size: inherit;
  line-height: normal;
  white-space: nowrap;
  border: 0 none;
  width: auto;
  _height: auto;
}

.MathJye_mi {
  font-style: italic;
}

.flipv {
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}

.fliph {
  -ms-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
}

.mathjye-bold {
  font-weight: 800
}

.mathjye-del {
  text-decoration: line-through
}

.mathjye-underline {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}

@-moz-document url-prefix() {
  .mathjye-underline {
    padding-bottom: 0px;
  }
}

.mathjye-underpline {
  border-bottom: 2px dotted #000;
  padding-bottom: 3px;
}

@-moz-document url-prefix() {
  .mathjye-underpline {
    padding-bottom: 1px;
  }
}

.mathjye-underpoint {
  background: url(http://img.jyeoo.net/images/formula/point.png) no-repeat center bottom;
  padding-bottom: 4px;
}

.mathjye-underpoint2 {
  border-bottom: 2px dotted #000;
  padding-bottom: 3px;
}

@-moz-document url-prefix() {
  .mathjye-underpoint {
    padding-bottom: 1px;
  }
}

.mathjye-underwave {
  background: url(http://img.jyeoo.net/images/formula/wave.png) bottom repeat-x;
  padding-bottom: 4px;
}

@-moz-document url-prefix() {
  .mathjye-underwave {
    padding-bottom: 1px;
  }
}

.mathjye-alignleft {
  display: block;
  text-align: left;
}

.mathjye-aligncenter {
  display: block;
  text-align: center;
}

.mathjye-alignright {
  display: block;
  text-align: right;
}

/* JINGYOU CSS END **/